extends layout

block content
    .row
    .col-sm-12.top-bar
        h1.col-sm-3= title
    .col-sm-4.col-sm-offset-4
        form(role="form" action="/login" method="post" )
            .form-group
                label Email
                input.form-control(type='text' name='email')
            .form-group
                label Password
                input.form-control(type='password' name='password')
            button.btn.btn-warning.btn-lg(type='submit') Login
            p Need an account? 
                a(href='/register') Register now.